.header {
    font-family: 'Times New Roman', Times, serif;
}
.header a{
    color: aqua;
    list-style: none;
    
} 

.a1 {
    color: blueviolet;
}

.dogImg {
    height: 150px;
    width: 150px;
}